@import "variables";
@import "colors";
@import "functions";
@import "mixins";
@import "fontFamily";

.wrapper {
	max-width: rem(1024);
	margin: auto;
	padding: 1rem;

	@include tablet() {
		& {
			padding: 1.5rem;
		}
	}
	@include desktop() {
		& {
			padding: 1.5rem;
		}
	}
}

.active-btn,
.selected a {
	background-color: $color-brown !important;
	border-color: $color-brown;
	color: #fff !important;
}

a {
	text-decoration: none;
	color: black;
}

.button-unfilled {
	background-color: #fff;
	border-color: $color-brown;
	border-radius: 0;
	color: $color-brown;
	padding: rem(10) rem(15);
	border: 0.1rem solid $color-brown;

	&:active,
	&:hover {
		filter: brightness(90%);
		background-color: $color-brown;
		border-color: $color-brown;
		color: #fff;
		transition: 0.4s;
	}

	@include tablet() {
		& {
			border: 0.2rem solid $color-brown;
		}
	}
	@include desktop() {
		& {
			border: 0.2rem solid $color-brown;
		}
	}
}

.btn-filled-transparent {
	background-color: $color-brown;
	color: #fff;

	&:active,
	&:hover {
		filter: brightness(90%) !important;
		transition: 0.4s;
	}
}

.button-filled {
	background-color: $color-brown;
	border-color: $color-brown;
	border-radius: 0;
	color: #fff;
	padding: rem(10) rem(15);
	border: none;

	&:active,
	&:hover {
		filter: brightness(90%);
		background-color: $color-brown;
		border-color: $color-brown;
		color: #fff;
		transition: 0.4s;
	}
}

.button-filled-beige {
	background-color: $color-beige;
	border-color: $color-beige;
	border-radius: (10px);
	color: #000;
	padding: rem(10) rem(15);
	border: none;

	&:active,
	&:hover {
		background-color: $color-brown;
		border-color: $color-brown;
		color: #fff;
		transition: 0.4s;
	}
}

.button-filled-brown-bg {
	background-color: $color-brown;
	color: #fff;

	color: #000;
	border: none;

	&:active,
	&:hover {
		background-color: $color-beige;
		color: #000;

		transition: 0.4s;
	}

	& svg {
		max-width: 1rem;

		path {
			fill: color(#000) !important ;
		}
	}
}

.semi-bold {
	font-weight: 500;
}

.text-0 {
	font-size: 0.8rem;
}

.checked {
	color: orange;
}

h1 {
	font-size: calc(1.375rem + 1.5vw);

	@include tablet() {
		& {
			font-size: 2.5rem;
		}
	}
	@include desktop() {
		& {
			font-size: 2.5rem;
		}
	}
}

h2 {
	font-size: calc(1.325rem + 0.9vw);
	@include tablet() {
		& {
			font-size: 2rem;
		}
	}
	@include desktop() {
		& {
			font-size: 2rem;
		}
	}
}

p {
	font-size: 1rem;
}

.\!border-danger {
	border-color: #d60000 !important;
}

.\!text-danger {
	color: #d60000 !important ;
}

html {
	/* To make use of full height of page*/
	min-height: 100%;
	margin: 0;
}
body {
	min-height: 100%;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}
