.dash-page {
	&__cont > div {
		// background-color: $color-beige;
		width: 100%;
		flex-direction: column;
		gap: 1rem;
		@include tablet() {
			& {
				flex-direction: row;
			}
		}
		@include desktop() {
			& {
				flex-direction: row;
			}
		}
	}

	.tabs-cont {
		> div {
			display: flex;
			flex-direction: row;
			@include tablet() {
				& {
					flex-direction: column;
				}
			}
			@include desktop() {
				& {
					flex-direction: column;
				}
			}
		}
	}
}
