.products {
	&__price-cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img-cont {
		position: relative;
	}
	&__chip {
		position: absolute;
		top: 0;
		right: 0;
		// color: $color-brown;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		@include tablet() {
			& {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
		@include desktop() {
			& {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}

	&__card {
		transition: transform 0.2s;
		position: relative;

		&:hover,
		&:active {
			transform: scale(1.02);
		}
	}

	&__card-img {
		object-fit: cover;
		width: 100%;
		height: 300px;
	}
	&__card-description {
		padding: 1rem;
		background-color: $color-gray-light;
		display: flex;
		flex-direction: column;
		gap: rem(8);
		min-height: 10rem;

		p {
			margin: 0;
		}
	}
	// &__card-description-type {
	// 	color: $color-gray-dark;
	// }

	&__pagination-container {
		display: flex;
		justify-content: center;
		gap: rem(16);

		& button {
			border-radius: 10px;
		}
	}
}
