.nav {
	& li a:hover,
	li a:active {
		transition: 0.4s;
		color: $color-brown;
	}

	&__logo-img,
	&__spacer {
		width: 5em;
		@include tablet() {
			& {
				width: 6.5rem;
			}
		}
		@include desktop() {
			& {
				width: 6.5rem;
			}
		}
	}
}
